---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Hi, I'm Guilherme</h1>
			<h2>Software Engineer</h2>
			<p>
				I have over 7 years of experience creating software, and in the past years I've been
				focusing a lot on the Frontend side.
			</p>
			<p>I'm passionate about teamwork, JavaScript, and the entire React ecosystem.</p>
			<p>
				For the past 3 years, I've been work remotely, collaborating with talented people from
				multiple parts of ther world to solve problems in different areas.
			</p>
			<p>
				For the past 3 years, I've been work remotely, collaborating with talented people from
				multiple parts of ther world to solve problems in different areas.
			</p>
			<p>
				For the past 3 years, I've been work remotely, collaborating with talented people from
				multiple parts of ther world to solve problems in different areas.
			</p>
			<p>
				For the past 3 years, I've been work remotely, collaborating with talented people from
				multiple parts of ther world to solve problems in different areas.
			</p>
		</main>
	</body>
</html>
