---
import Layout from '../layouts/Layout.astro';
import RecentPosts from '../components/RecentPosts.astro';
import { SITE_DESCRIPTION } from '../consts';
---

<Layout siteDescription={SITE_DESCRIPTION}>
	<section class="flex flex-grow flex-col">
		<h1 class="text-5xl text-white">Guilherme Kuniyoshi</h1>
		<h2 class="mb-8 text-2xl text-white">
			Software Engineer at
			<a class="text-primary underline underline-offset-4" href="https://www.getambush.com/"
				>Ambush</a
			>
		</h2>
		<p>
			I'm a Software Engineer with 7+ years of experience, nerding out on Frontend development,
			especially all things JavaScript and React.
		</p>
		<RecentPosts />
	</section>
</Layout>
