---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
const activeClass = isActive ? `font-bold` : '';
---

<a
	href={href}
	class=`${activeClass} inline-block decoration-0 active:bg-green-200 hover:`
	{...props}
>
	<slot />
</a>
