---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
const activeClass = isActive ? `text-content-accent underline underline-offset-4` : '';
---

<li
	class=`${activeClass} m-2 inline-block rounded-md p-1 transition-colors duration-300 ease-in-out hover:bg-background-content`
>
	<a href={href} class=`p-3 decoration-0` {...props}>
		<slot />
	</a>
</li>
