---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
const activeClass = isActive ? `font-bold` : '';
---

<li class="m-2 inline-block rounded-md p-1 hover:bg-slate-100">
	<a href={href} class=`${activeClass}  decoration-0  ` {...props}>
		<slot />
	</a>
</li>
