---
import HeaderLink from './HeaderLink.astro';
import SocialLinks from './SocialLinks.astro';
---

<header class="m-0 px-4">
	<nav class="flex flex-row items-center justify-between text-content">
		<ul class="flex flex-row items-center">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</ul>
		<SocialLinks />
	</nav>
</header>
