---
import HeaderLink from './HeaderLink.astro';
import SocialLinks from './SocialLinks.astro';
import { SITE_TITLE } from '../consts';
---

<header class="bg-background m-0 p-1 shadow-lg">
	<nav class="text-content-accent flex flex-row items-center justify-between">
		<h2 class="my-0 ml-4 text-xl text-white"><a href="/">{SITE_TITLE}</a></h2>
		<ul class="flex flex-row items-center">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</ul>
		<SocialLinks />
	</nav>
</header>
