---
import { Image } from 'astro:assets';
import logo from '../../public/favicon-32x32.png';

import HeaderLink from './HeaderLink.astro';
import SocialLinks from './SocialLinks.astro';
---

<header class="m-0 mt-4 px-6">
	<nav class="flex flex-row items-center justify-between text-content">
		<ul class="flex flex-row items-center">
			<li
				class=`mr-4 inline-block rounded-md transition-colors duration-300 ease-in-out hover:bg-background-content`
			>
				<a href="/" class=`decoration-0`>
					<Image src={logo} alt="blog logo" height="24" width="24" />
				</a>
			</li>

			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
		</ul>
		<SocialLinks />
	</nav>
</header>
